.review-list {
    margin-block-start: 0;
    list-style-type: none;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

.review-p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.reviews {
    padding-top: 80px;
    padding-bottom: 86px;
    margin: 0 auto;
}

.reviews-container {
    margin: 0 auto;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviews-testimonial {
    width: 85px;
    height: 85px;
    margin: 0 auto 29px;
}

.review {
    background-color: rgba(250, 250, 250, 1);
    width: 100%;
    padding: 43px 50px 0 50px;
}

.review__txt {
    display: inline-block;
    padding: 0 16px 0 16px;
position: relative;
font-size: 12px;
font-weight: 500;
line-height: 2.5;
text-align: center;
z-index: 1000;
margin-bottom: 26px;
width: 157px;
}
// background-image: repeating-linear-gradient(rgba(225, 225, 225, 1), rgba(225, 225, 225, 1));


// .review__txt:after {
//     content: "";
//     position: absolute;
//     left: 0%;
//     height: 1px;
//     background-image: linear-gradient(rgba(225, 225, 225, 1), rgba(225, 225, 225, 1));
//     background-size: 100% 1px;
//     top: 100%;
//     width: 100%;
// }

.review__txt:before {
    position: absolute;
    margin-left: -30px;
    margin-top: -15px;
    z-index: -1;
    display: inline-block;
    content: "";
    width: 54px;
    height: 40px;
    background-image: url(../images/quote.png);
}

.circles {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin: 39px 0 18px;

}
.circle {
    font-size: 4px;
    color: var(--third-color);
    margin-right: 10px;
}

.circle:last-child {
    margin-right: 0;
}

.customer {
    margin: 0 auto;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin-top: 30px;
}

.navigation__item {
        width: 12.4px;
        height: 12px;
        background-image: url(../images/home.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.navigation__item--dot {
    width: 12px;
    height: 12px;
    margin-left: 18px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 1);
}

  @media screen and (min-width: 768px) {
    .reviews {
        padding-top: 121px;
        padding-bottom: 119px;
    }
    
    .reviews-container {
        width: 620px;
    }
    
    .reviews-testimonial {
        margin: 0 auto 19px;
    }
    
    .review {
        padding: 47px 80px 0 80px;
    }
    
    .review__txt {
        padding: 0;
    font-size: 14px;
    line-height: 2.16;
    margin-bottom: 34px;
    width: 460px;
    }
      
    .review__txt:before {
        margin-left: -45px;
        margin-top: -15px;
    }
    
    .circles {
        margin: 24px 0 14px;
    }
    
    .customer {
        font-size: 16px;
    }
    
    .navigation {
        margin-top: 35px;
    }
  }

  @media screen and (min-width: 1280px) {
    .reviews {
        padding-top: 123px;
        padding-bottom: 132px;
    }
    .reviews-container {
        width: 926px;
    }
    
    .reviews-testimonial {
        margin: 0 auto 15px;
    }
    
    .review {
        width: 926px;
        padding: 47px 88px 0;
    }
    
    .review__txt {
        padding: 0 35px;
    font-size: 16px;
    line-height: 1.875;
    z-index: 1000;
    margin-bottom: 39px;

    width: 750px;
    }
        
    .review__txt:before {
        margin-left: -47px;
        margin-top: -15px;
    }
    
    .circles {
        margin: 17px 0;
    
    }
    
    .customer {
        font-size: 20px;
    }
    
    .navigation {
        margin-top: 35px;
    }    
  }






  

  