@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.container-main {
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
}

.container-header {
  width: calc(100% - 40px);
  margin: 0 auto;
}

.container-nav {
  width: 100%;
  margin: 0 auto;
}

.reviews__test {
  font-size: 15px;
}

.advantage {
  list-style: none;
  padding-top: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 0;
}
.advantage__list-item {
  flex-basis: calc((100% - 20px) / 1);
}
.advantage__list-item--icon1::before {
  content: "";
  width: 33px;
  height: 55px;
  display: flex;
  background: url(/images/ice.png) no-repeat;
}
.advantage__list-item--icon2::before {
  content: "";
  width: 50px;
  height: 55px;
  display: flex;
  background: url(/images/ice1.png) no-repeat;
}
.advantage__list-item--icon3::before {
  content: "";
  width: 44px;
  height: 55px;
  display: flex;
  background: url(/images/ice2.png) no-repeat;
}
.advantage__paragarph--value {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 114%;
  letter-spacing: 0.04em;
  color: #d41443;
}
.advantage__paragarph--description {
  font-family: "DM Sans";
  font-style: bold;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: #000000;
  margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .advantage__list-item {
    flex-basis: calc((100% - 200px) / 3);
  }
  .advantage__paragarph--value {
    margin-top: 40px;
  }
  .advantage__paragarph--description {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .advantage__list-item {
    flex-basis: calc((100% - 300px) / 3);
  }
  .advantage__paragarph--value {
    margin-top: 40px;
  }
  .advantage__paragarph--description {
    font-size: 16px;
  }
}
.background-advantage {
  background-color: #FFF5F6;
}

.hidden-advantage {
  display: none;
}

.flexbox-advantage {
  width: 100%;
  align-items: center;
  margin: 0 auto;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .flexbox-advantage {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .flexbox-advantage {
    max-width: 1280px;
  }
}
.about {
  background-color: #fff5f6;
  background-image: url("/images/squoosh-milk3-mobile.png");
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .about {
    background-image: url("/images/squoosh-milk1-desktop.png");
  }
}
.about__container {
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .about__container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .about__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .about__container {
    max-width: 1200px;
    padding: 115px;
  }
}
:root {
  --main-color: #FFA5BA;
  --secondary-color: #FFF5F6;
  --third-color: #D41443;
  --fourth-color: #907E82;
}

.is-hidden-about {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 320px) {
  .about__cow {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 26px;
    margin-bottom: 46px;
  }
}
@media screen and (min-width: 768px) {
  .about__cow {
    margin-left: 39px;
    margin-right: 393px;
    margin-top: 50px;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .about__cow {
    margin-left: 112px;
    margin-right: 654px;
    margin-top: 55px;
    margin-bottom: 39px;
  }
}
.contacts {
  font-family: "DM Sans";
  font-size: 12px;
  font-weight: 500;
}
.contacts__content {
  display: flex;
  justify-content: center;
}
.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contacts__item {
  padding-top: 43px;
  padding-left: 20px;
  padding-right: 21px;
  width: 220px;
  height: 427px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-bottom: 20px;
}
.contacts__headline {
  margin: 0;
  width: 80px;
  height: 16px;
  background-color: #F0D1A5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: white;
}
.contacts__headline-foodtruck {
  width: 130px;
  background-color: #C2E297;
}
.contacts__information {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E1E1E1;
}
.contacts__location {
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.86;
  letter-spacing: 0.04em;
}
.contacts__descriptions {
  margin: 0;
  line-height: 1.5;
  color: #907E82;
}
.contacts__days {
  margin: 0;
  line-height: 1.86;
}
.contacts__hours {
  margin: 0;
  color: #FFA5BA;
  line-height: 1.86;
}
.contacts__open:not(:last-child) {
  padding-bottom: 10px;
}
.contacts__details {
  padding-top: 25px;
}
.contacts__number, .contacts__mail {
  text-decoration: none;
  color: #907E82;
  line-height: 1.5;
  cursor: pointer;
}
.contacts__buttons {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contacts__button-locations, .contacts__button-franchise {
  width: 161.45px;
  height: 44px;
  border: none;
  border-radius: 22px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
}
.contacts__button-locations {
  background-color: #D41342;
  color: white;
}

@media screen and (min-width: 768px) {
  .contacts {
    font-size: 14px;
  }
  .contacts__list {
    display: flex;
    gap: 20px;
  }
  .contacts__item {
    padding-top: 50px;
    padding-left: 31px;
    padding-right: 32px;
    height: 544px;
    margin: 0;
  }
  .contacts__headline {
    width: 73px;
    height: 28px;
    border-radius: 6px;
  }
  .contacts__headline-foodtruck {
    width: 138px;
  }
  .contacts__information {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .contacts__open:not(:last-child) {
    padding-bottom: 16px;
  }
  .contacts__details {
    padding-top: 30px;
  }
  .contacts__number, .contacts__mail {
    line-height: 1.83;
  }
  .contacts__buttons {
    margin-top: 81px;
    display: flex;
    flex-direction: unset;
    align-items: center;
    justify-content: center;
  }
  .contacts__button-locations {
    width: 191.45px;
  }
  .contacts__button-franchise {
    width: 174.05px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    font-size: 16px;
  }
  .contacts__list {
    gap: 30px;
  }
  .contacts__item {
    padding-top: 51px;
    padding-left: 43px;
    padding-right: 44px;
    width: 330px;
    height: 572px;
  }
  .contacts__information {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts__open:not(:last-child) {
    padding-bottom: 15px;
  }
  .contacts__details {
    padding-top: 32px;
  }
  .contacts__button-locations {
    width: 198px;
  }
  .contacts__button-franchise {
    width: 180px;
  }
}/*# sourceMappingURL=main.css.map */