@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.container-main {
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
}

.container-header {
  width: calc(100% - 40px);
  margin: 0 auto;
}

.container-nav {
  width: 100%;
  margin: 0 auto;
}

.reviews__test {
  font-size: 15px;
}

.advantage {
  list-style: none;
  padding-top: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 0;
}
.advantage__list-item {
  flex-basis: calc((100% - 20px) / 1);
}
.advantage__list-item--icon1::before {
  content: "";
  width: 33px;
  height: 55px;
  display: flex;
  background: url(/images/ice.png) no-repeat;
}
.advantage__list-item--icon2::before {
  content: "";
  width: 50px;
  height: 55px;
  display: flex;
  background: url(/images/ice1.png) no-repeat;
}
.advantage__list-item--icon3::before {
  content: "";
  width: 44px;
  height: 55px;
  display: flex;
  background: url(/images/ice2.png) no-repeat;
}
.advantage__paragarph--value {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 114%;
  letter-spacing: 0.04em;
  color: #d41443;
}
.advantage__paragarph--description {
  font-family: "DM Sans";
  font-style: bold;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: #000000;
  margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .advantage__list-item {
    flex-basis: calc((100% - 200px) / 3);
  }
  .advantage__paragarph--value {
    margin-top: 40px;
  }
  .advantage__paragarph--description {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .advantage__list-item {
    flex-basis: calc((100% - 300px) / 3);
  }
  .advantage__paragarph--value {
    margin-top: 40px;
  }
  .advantage__paragarph--description {
    font-size: 16px;
  }
}
.background-advantage {
  background-color: #FFF5F6;
}

.hidden-advantage {
  display: none;
}

.flexbox-advantage {
  width: 100%;
  align-items: center;
  margin: 0 auto;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .flexbox-advantage {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .flexbox-advantage {
    max-width: 1280px;
  }
}
.about {
  background-color: #fff5f6;
  background-image: url("/images/squoosh-milk3-mobile.png");
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .about {
    background-image: url("/images/squoosh-milk1-desktop.png");
  }
}
.about__container {
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .about__container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .about__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .about__container {
    max-width: 1200px;
    padding: 115px;
  }
}
:root {
  --main-color: #FFA5BA;
  --secondary-color: #FFF5F6;
  --third-color: #D41443;
  --fourth-color: #907E82;
}

.is-hidden-about {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 320px) {
  .about__cow {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 26px;
    margin-bottom: 46px;
  }
}
@media screen and (min-width: 768px) {
  .about__cow {
    margin-left: 39px;
    margin-right: 393px;
    margin-top: 50px;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .about__cow {
    margin-left: 112px;
    margin-right: 654px;
    margin-top: 55px;
    margin-bottom: 39px;
  }
}/*# sourceMappingURL=main.css.map */