.advantage {
  list-style: none;
  padding-top: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;

  &__list-item {
    flex-basis: calc((100% - 20px) / 1);
    &--icon1 {
      &::before {
        content: '';
        width: 33px;
        height: 55px;
        display: flex;
        background: url(/images/ice.png) no-repeat;
      }
    }
    &--icon2 {
      &::before {
        content: '';
        width: 50px;
        height: 55px;
        display: flex;
        background: url(/images/ice1.png) no-repeat;
      }
    }
    &--icon3 {
      &::before {
        content: '';
        width: 44px;
        height: 55px;
        display: flex;
        background: url(/images/ice2.png) no-repeat;
      }
    }
  }
  &__paragarph {
    &--value {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 114%;
      letter-spacing: 0.04em;
      color: #d41443;
      margin-top: 40px;
    }
    &--description {
      font-family: 'DM Sans';
      font-style: bold;
      font-weight: 700;
      font-size: 12px;
      line-height: 170%;
      color: #000000;
      margin-bottom: 38px;
      margin-top: 15px;
    }
  }
}

@media screen and (min-width: 768px) {
  .advantage {
    &__list-item {
      flex-basis: calc((100% - 10px) / 3);
    }
    &__paragarph {
      &--value {
        margin-top: 40px;
      }
      &--description {
        font-size: 14px;
       
        
      }
      &--right{
        
        margin-right: 20px;
        
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .advantage {
      &__list-item {
        flex-basis: calc((100% - 10px) / 3);
      }
      &__paragarph {
        &--value {
          margin-top: 40px;
        }
        &--description {
          font-size: 16px;
          max-width: 330px;
        }
      }
    }
  }
}
