.flexbox-advantage {
  width: 100%;
  align-items: center;
  margin: 0 auto;
  max-width: 320px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .flexbox-advantage {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .flexbox-advantage {
    max-width: 1280px;
  }
}
