.header {
  &__title {
    text-transform: uppercase;
    width: 218px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #ffffff;
    position: absolute;
    top: 193px;
    z-index: 20;
    margin: 0;
  }
  &__title--mod {
    font-size: 48px;
    line-height: 45px;
    color: #d41443;
    position: relative;
    top: 0;
  }
  &__product-btn {
    background: #d41443;
    border-radius: 20px;
    color: #ffffff;
    border: none;
    width: 62.4px;
    height: 24px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__how-btn {
    background: #ffffff;
    border-radius: 20px;
    width: 82.8px;
    height: 24px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #d41443;
    border: none;
  }
  &__list {
    display: flex;
    position: absolute;
    top: 318px;
    gap: 8px;
    z-index: 15;
  }
  &__girl {
    display: none;
  }
  &__milk {
    display: none;
  }
  &__cafenr {
    display: none;
  }
  &__foodtracknr {
    display: none;
  }
  &__description {
    display: none;
  }
  &__arrow-btn {
    display: none;
  }
}

// <!-- Tablet -->
@media (min-width: 768px) {
  .header {
    &__list {
      top: 202px;
    }
    &__title {
      width: 162px;
      top: 102px;
      font-size: 22px;
      line-height: 25.19px;
    }
    &__title--mod {
      position: absolute;
      left: 0;
      top: 55px;
      font-size: 34px;
    }
    &__girl {
      display: block;
      position: absolute;
      right: 0;
      top: 266px;
    }
    &__milk {
      display: block;
      position: absolute;
      top: 245px;
    }
    &__cafenr {
      display: block;
      position: absolute;
      right: 0;
      top: 96px;
    }
    &__foodtracknr {
      display: block;
      position: absolute;
      right: 0;
      top: 152px;
    }
    &__description {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 12px;
      color: #ffffff;

      display: block;
      width: 114px;
      height: 48px;
      position: absolute;
      top: 292px;
      left: 120px;
    }
    &__arrow {
      width: 18px;
      height: 18px;
    }
    &__arrow-btn {
      display: block;
      border: none;
      padding: 0;
      background-color: transparent;
      position: absolute;
      top: 347px;
      left: 120px;
    }
  }
}

// <!-- Desktop -->
@media (min-width: 1200px) {
  .header {
    &__girl {
      top: 433px;
      right: 63px;
    }
    &__cafenr {
      top: 160px;
      right: 69px;
    }
    &__foodtracknr {
      top: 248px;
      right: 69px;
    }
    &__milk {
      top: 429px;
    }
    &__arrow {
      width: 26px;
      height: 26px;
    }
    &__arrow-btn {
      top: 583px;
      left: 218px;
    }
    &__description {
      font-size: 14px;
      line-height: 20px;

      top: 485px;
      left: 218px;
      width: 200px;
      height: 78px;
    }
    &__product-btn {
      font-size: 14px;
      line-height: 18px;

      width: 102px;
      height: 40px;
    }
    &__list {
      top: 333px;
    }
    &__how-btn {
      font-size: 14px;
      line-height: 18px;

      width: 138px;
      height: 40px;
    }
    &__title {
      font-size: 37px;
      line-height: 42px;

      width: 277px;
      left: 69px;
      top: 171px;
  }
  &__title--mod{
    font-size: 58px;
    line-height: 52px;
    top: 80px;
    left: 0;


  }
}
}