.ice-header {
  position: absolute;
  top: 92px;
  right: 12px;
  z-index: 10;
}

// <!-- Tablet -->
@media (min-width: 768px){
  .ice-header{
    top: 63px;
    right: -20px;
    margin-right: 227px;
  }
}
