.nav {
  &__buy-btn {
    font-family: 'DM Sans';
    font-style: bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #d41443;
    background: #ffffff;
    border-radius: 22px;
    border: none;
    width: 209px;
    height: 44px;
    z-index: 20;
    margin-top: 60px;
    cursor: pointer;
  }
  &__buy-btn--desk {
    display: none;
  }

  &__buy-btn:hover,
  &__buy-btn:focus {
    background-color: #ecebeb;
    transition: background-color 0.4s ease-in-out;
  }
  &__list {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    align-items: left;
    padding-left: 21px;
    width: 250px;
    height: 100vh;
    color: #fff;
    background: #e17992;
    z-index: 40;
    transition: opacity 0.8s;
    

  }
  &__list-desk{
    display: none;
  }
  &__links{
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-top: 32px;

  }
  &__anchor {
    color: #ffffff;
    &:visited,
    &:link {
      color: #ffffff;
    }
    &:hover,
    &:focus {
      color: #d41443;
    }
  }
  &__link {
    font-family: 'DM Sans';
    font-style: bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
  }
}

// <!-- Tablet -->
@media (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;

    &__list{
width: 254px;
padding-left: 24px;
}
&__buy-btn{
  width: 186px;
  margin-left: 10px;
}
    &__buy-btn--desk {
      display: flex;
      width: 160px;
      height: 44px;
      z-index: 20;
      margin-top: 0;
    }
  }
}

// <!-- Desktop -->
@media (min-width: 1200px) {
  .nav {
    gap: 110px;
    position: absolute;
    right: 69px;
    
    &__link {
      font-family: 'DM Sans';
      font-style: bold;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: #ffffff;

      display: flex;
      gap: 35px;
    }
    &__anchor:visited {
      color: #ffffff;
    }
    &__anchor {
      color: #ffffff;
    }
    &__anchor:hover,
    &__anchor:focus {
      color: #d41443;
      transition: color 0.4s ease-in-out;
    }
    &__item {
      height: 21px;
    }
    &__list-desk{
      display: flex;
      gap: 35px;
    }
    &__list{
      display: none;
    }
  }
}
.test{pointer-events: none;}