.reviews {
    padding-top: 80px;
    padding-bottom: 86px;
    margin: 0 auto;

    &__container {
        margin: 0 auto;
        width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__testimonial {
        width: 85px;
        height: 85px;
        margin: 0 auto 29px;
    }
}

.review {
    background-color: rgba(250, 250, 250, 1);
    width: 100%;
    padding: 43px 50px 0 50px;

    &__txt {
        display: inline-block;
        padding: 0 16px 0 16px;
    position: relative;
    margin-bottom: 26px;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.5;
    text-align: center;
    z-index: 1000;
    width: 157px;
    background-image: repeating-linear-gradient(to bottom, 
    rgba(250, 250, 250, 1),
    rgba(250, 250, 250, 1) 29px,
    rgba(225, 225, 225, 1) 30px) ;

     &:before {
        position: absolute;
        margin-left: -30px;
        margin-top: -15px;
        z-index: -1;
        display: inline-block;
        content: "";
        width: 54px;
        height: 40px;
        background-image: url(../images/quote.png);
    }
    }
}

.reviews-pause {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin: 39px 0 18px;

    &__item {
        font-size: 4px;
        color: var(--third-color);
        margin-right: 10px;

        &__item:last-child {
            margin-right: 0;
        }
    }
}

.customer {
    margin: 0 auto;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
}

.reviews-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin-top: 30px;

    &__item {
        width: 12.4px;
        height: 12px;
        background-image: url(../images/home.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &--dot {
            width: 12px;
            height: 12px;
            margin-left: 18px;
            border-radius: 50%;
            background-color: rgba(217, 217, 217, 1);
        }
    }
}

// .reviews-nav__item {
//     width: 12.4px;
//     height: 12px;
//     background-image: url(../images/home.svg);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
// .reviews-nav__item--dot {
//     width: 12px;
//     height: 12px;
//     margin-left: 18px;
//     border-radius: 50%;
//     background-color: rgba(217, 217, 217, 1);
// }
// .reviews__container {
//     margin: 0 auto;
//     width: 280px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }
// .reviews__testimonial {
//     width: 85px;
//     height: 85px;
//     margin: 0 auto 29px;
// }
// .review__txt {
//     display: inline-block;
//     padding: 0 16px 0 16px;
// position: relative;
// margin-bottom: 26px;
// font-size: 12px;
// font-weight: 500;
// line-height: 2.5;
// text-align: center;
// z-index: 1000;
// width: 157px;
// background-image: repeating-linear-gradient(to bottom, 
// rgba(250, 250, 250, 1),
// rgba(250, 250, 250, 1) 29px,
//  rgba(225, 225, 225, 1) 30px) ;
// }
// .review__txt:before {
//     position: absolute;
//     margin-left: -30px;
//     margin-top: -15px;
//     z-index: -1;
//     display: inline-block;
//     content: "";
//     width: 54px;
//     height: 40px;
//     background-image: url(../images/quote.png);
// }
// .reviews-pause__item {
//     font-size: 4px;
//     color: var(--third-color);
//     margin-right: 10px;
// }
// .reviews-pause__item:last-child {
//     margin-right: 0;
// }

  @media screen and (min-width: 768px) {
    .reviews {
        padding-top: 121px;
        padding-bottom: 119px;

        &__container {
            width: 620px;
        }
        &__testimonial {
            margin: 0 auto 19px;
        }
    }
    
    .review {
        padding: 47px 36px 0 60px;

        &__txt {
            padding: 0 44px 25px 20px;
            font-size: 14px;
            margin-bottom: 34px;
            line-height: 2.16;
            width: 524px;

            &:before {
                margin-left: -45px;
                margin-top: -15px;
            }
        }
    }
    
    .reviews-pause {
        margin: 24px 0 14px;
    }
    
    .customer {
        font-size: 16px;
    }
    
    .reviews-nav {
        margin-top: 35px;
    }
  }

          // .reviews__container {
    //     width: 620px;
    // }
    // .reviews__testimonial {
    //     margin: 0 auto 19px;
    // }
    // .review__txt {
    //     padding: 0 44px 25px 20px;
    //     font-size: 14px;
    //     margin-bottom: 34px;
    //     line-height: 2.16;
    //     width: 524px;
    // }
    // .review__txt:before {
    //     margin-left: -45px;
    //     margin-top: -15px;
    // }

  @media screen and (min-width: 1280px) {
    .reviews {
        padding-top: 123px;
        padding-bottom: 132px;

        &__container {
            width: 926px;
        }
        &__testimonial {
            margin: 0 auto 15px;
        }
    }
    
    .review {
        width: 926px;
        padding: 47px 88px 0;

        &__txt {
            padding: 0 35px;
            font-size: 16px;
            line-height: 1.875;
            z-index: 1000;
            margin-bottom: 39px;
            width: 750px;

            &:before {
                margin-left: -47px;
                margin-top: -15px;
            }
        }
    }
       
    .reviews-pause {
        margin: 15px 0;
    
    }
    
    .customer {
        font-size: 20px;
    }
    
    .reviews-nav {
        margin-top: 35px;
    }    
  }

      // .reviews__container {
    //     width: 926px;
    // }
    // .reviews__testimonial {
    //     margin: 0 auto 15px;
    // }
        // .review__txt {
    //     padding: 0 35px;
    //     font-size: 16px;
    //     line-height: 1.875;
    //     z-index: 1000;
    //     margin-bottom: 39px;
    //     width: 750px;
    // }
        
    // .review__txt:before {
    //     margin-left: -47px;
    //     margin-top: -15px;
    // }





  

  