.hidden-contacts-header {
    display: none;
}
.contacts {
    font-family: 'DM Sans';
    font-size: 12px;
    font-weight: 500;
    background: rgb(255,245,246);
    background: linear-gradient(0deg, rgba(255,245,246,1) 95%, rgba(255,255,255,1) 95%);
    padding-bottom: 113px;
    &__content {
        display: flex;
        justify-content: center;
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__item {
        padding-top: 43px;
        padding-left: 20px;
        padding-right: 21px;
        width: 220px;
        height: 427px;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        margin-bottom: 20px;
        background-color: #FFFFFF;
    }
    &__headline {
        margin: 0;
        width: 80px;
        height: 16px;
        background-color: #F0D1A5;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1.86;
        letter-spacing: 0.04em;
        color: #ffff;
    }
    &__headline-foodtruck {
        width: 130px;
        background-color: #C2E297;
    }
    &__information {
        padding-top: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #E1E1E1;
    }
    &__location {
        margin-bottom: 10px;
        margin-top: 0;
        line-height: 1.86;
        letter-spacing: 0.04em;
    }
    &__descriptions {
        margin: 0;
        line-height: 1.5;
        color: #907E82;
    }
    &__days {
        margin: 0;
        line-height: 1.86;
    }
    &__hours {
        margin: 0;
        color: #FFA5BA;
        line-height: 1.86;
    }
    &__open:not(:last-child) {
        padding-bottom: 10px;
    }
    &__details {
        padding-top: 25px;
    }
    &__number, &__mail {
        text-decoration: none;
        color: #907E82;
        line-height: 1.5;
        cursor: pointer;
    }
    
    &__buttons {
        margin-top: 34px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    &__button-locations, &__button-franchise {
        height: 44px;
        border: none;
        border-radius: 22px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.31;
    }
    &__button-locations {
        width: 161.45px;
        background-color: #D41342;
        color: #ffff;
    }
    &__button-franchise {
        width: 161px;
        background-color: #FFFFFF;
        color: #D41443;
    }
}

@media screen and (min-width: 768px) {
    .contacts {
        font-size: 14px;
        background: rgb(255,245,246);
        background: linear-gradient(0deg, rgba(255,245,246,1) 91%, rgba(255,255,255,1) 91%);
        padding-bottom: 165px;
        &__list {
            display: flex;
            gap: 20px;
        }
        &__item {
            padding-top: 50px;
            padding-left: 31px;
            padding-right: 32px;
            height: 544px;
            margin: 0;
        }
        &__headline {
            width: 73px;
            height: 28px;
            border-radius: 6px;
        }
        &__headline-foodtruck {
            width: 138px;
        }
        &__information {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &__open:not(:last-child) {
            padding-bottom: 16px;
        }
        &__details {
            padding-top: 30px;
        }
        &__number, &__mail {
            line-height: 1.83;
        }
        &__buttons {
            margin-top: 81px;
            display: flex;
            flex-direction: unset;
            align-items: center;
            justify-content: center;
            gap: 14.5px;
        }
        &__button-locations {
            width: 191.45px;
        }
        &__button-franchise {
            width: 174.05px;
        }
    }
}
@media screen and (min-width: 1200px) {
    .contacts {
        font-size: 16px;
        background: linear-gradient(0deg, rgba(255,245,246,1) 89%, rgba(255,255,255,1) 89%);
        &__content {
        background-image: url(../images/contacts-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        }    
        &__list {
            gap: 30px;
        }
        &__item {
            padding-top: 51px;
            padding-left: 43px;
            padding-right: 44px;
            width: 330px;
            height: 572px;
        }
        &__information {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        &__open:not(:last-child) {
            padding-bottom: 15px;
        }
        &__details {
            padding-top: 32px;
        }
        &__buttons {
            gap: 15px;
        }
        &__button-locations {
            width: 198px;
        }
        &__button-franchise {
            width: 180px;
        }
    }

}