.about__btn {
  display: flex;
  align-items: center;
  text-align: center;

  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #d41443;
  background: #ffffff;
  border-radius: 22px;
  border: none;

  width: 176px;
  height: 44px;
  left: 702px;
  top: 2470px;

  padding-left: 37px;
  padding-right: 37px;

  cursor: crosshair;

  &:hover,
  &:focus {
    background: #ecebeb;
  }
  &--green {
    background: rgba(193, 226, 151, 0.74);
    color: #fff;
    margin-top: 20px;
    transition: transform 800ms easy;
    text-align: center;
    font-size: 16px;
    margin-left: 150px;

    &:hover {
      transform: scale(1.1);
      background: #ffa5ba;
    }
  }
}

@media screen and (min-width: 768px) {
  .btn {
    margin-top: 62px;
  }
}
@media screen and (min-width: 1200px) {
  .btn {
    margin-top: 0px;
  }
}
.about__icon-2 {
  width: 8px;
  height: 14px;
  margin-left: 10px;
  align-items: flex-end;
}
