.about__btn {
  display: flex;
  align-items: center;
  text-align: center;

  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #d41443;
  background: #ffffff;
  border-radius: 22px;
  border: none;

  width: 176px;
  height: 44px;
  left: 702px;
  top: 2470px;

  padding-left: 37px;
  padding-right: 37px;

  cursor: crosshair;

  &:hover,
  &:focus {
    background: #ecebeb;
  }
  &--green {
    background: #fff;
    color: #c2e297;
    transition: transform 800ms easy;
    text-align: center;
    font-size: 16px;
    margin-left: 55px;

    &:hover {
      transform: scale(1.1);
      background: #ecebeb;
    }
  }
  .about__icon-2 {
    width: 8px;
    height: 14px;
    margin-left: 10px;
    align-items: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .about__btn {
    &--green {
      margin-left: 140px;
      margin-top: 10px;
    }
  }
}
