.about__container {
  width: 100%;
  align-items: center;
  margin: 0 auto;
  max-width: 320px;
}
.about__box-title {
  justify-content: center;
  padding-left: 61px;
  padding-right: 61px;
}
.about__box-contain {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .about__container {
    max-width: 768px;
  }
  .about__box-contain {
    display: flex;
    flex-direction: initial;
    padding-right: 36px;
    margin-top: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .about__container {
    max-width: 1200px;
  }
  .about__box-contain {
    display: flex;
  }
}
