
<div id="how-is-made"></div>
<section class="about">
  <container class="about__container">
    <div class="about__box-title">
      <label class="about__label">TRADITION AND LOVE</label>
      <h1 class="about__title">HOW IT'S MADE?</h1>
    </div>
    <div class="about__box-contain">
      <img
        class="about__cow"
        src="images/squoosh-how1-desktop.png"
        alt="cow and milk"
        srcset="
          images/squoosh-how3-mobile.png  450w,
          images/squoosh-how2-tablet.png  354w,
          images/squoosh-how1-desktop.png 500w
        "
        sizes="(min-width: 1200px) 500px, (min-width: 768px) 354px, (min-width: 320px) 450px, 100vw"
      />
      <ul class="about__list">
        <li class="about__item">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </li>
        <li class="about__item about__item--light">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </li>
        <li class="about__item about__item--light">Aliquam erat volutpat. Aenean accumsan.</li>

        <li>
          <button class="about__btn" data-modal-open>
            Read more
            <svg class="about__icon-2">
              <use href="./images/about-sprite-omg.svg#icon-2"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </container>
</section>

<div class="container-modalabout">
  <div class="backdrop-about ishidden-about" data-modal>
    <div class="modal-about">
      <svg class="closebtn-about" data-modal-close>
        <use href="./images/about-sprite-omg.svg#icon-ice-cream"></use>
      </svg>
    </div>
  </div>
</div>
