<div class="background-advantage">
  <section class="flexbox-advantage">
    <h2 class="hidden-advantage">Advantages</h2>
    <ul class="advantage">
      <li class="advantage__list-item advantage__list-item--icon1">
        <p class="advantage__paragarph advantage__paragarph--value">721</p>
        <p class="advantage__paragarph advantage__paragarph--description">
          Ad Astra Abyssosque vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantage__list-item advantage__list-item--icon2">
        <p class="advantage__paragarph advantage__paragarph--value">16kg</p>
        <p class="advantage__paragarph advantage__paragarph--description">
          Ad Astra Abyssosque vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantage__list-item advantage__list-item--icon3">
        <p class="advantage__paragarph advantage__paragarph--value">84</p>
        <p class="advantage__paragarph advantage__paragarph--description">
          Ad Astra Abyssosque vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </section>
</div>
