<div id="cont"></div>
<section class="contacts">
    <div class="contacts__content">
        <h2 class="hidden-contacts-header">Contacts</h2>
    <ul class="contacts__list">
        <li class="contacts__item">
            <p class="contacts__headline">CAFE</p>
            <div class="contacts__information">
                <h4 class="contacts__location">Chicago</h4>
                <p class="contacts__descriptions">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class="contacts__information">
                <div class="contacts__open">
                <h4 class="contacts__days">Monday - Friday</h4>
                <p class="contacts__hours">06:00 AM - 10:00 PM</p>
                </div>
                <div class="contacts__open">
                <h4 class="contacts__days">Saturday - Sunday</h4>
                <p class="contacts__hours">08:00 AM - 16:00 PM</p>
                </div>
            </div>
            <div class="contacts__details">
            <a class="contacts__number" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </li>
        <li class="contacts__item">
            <p class="contacts__headline contacts__headline-foodtruck">FOOD TRUCK</p>
            <div class="contacts__information">
                <h4 class="contacts__location">Los Angeles</h4>
                <p class="contacts__descriptions">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class="contacts__information">
                <div class="contacts__open">
                <h4 class="contacts__days">Monday - Friday</h4>
                <p class="contacts__hours">06:00 AM - 10:00 PM</p>
                </div>
                <div class="contacts__open">
                <h4 class="contacts__days">Saturday - Sunday</h4>
                <p class="contacts__hours">08:00 AM - 16:00 PM</p>
                </div>
            </div>
            <div class="contacts__details">
            <a class="contacts__number" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </li>
        <li class="contacts__item">
            <p class="contacts__headline">CAFE</p>
            <div class="contacts__information">
                <h4 class="contacts__location">New York</h4>
                <p class="contacts__descriptions">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class="contacts__information">
                <div class="contacts__open">
                <h4 class="contacts__days">Monday - Friday</h4>
                <p class="contacts__hours">06:00 AM - 10:00 PM</p>
                </div>
                <div class="contacts__open">
                <h4 class="contacts__days">Saturday - Sunday</h4>
                <p class="contacts__hours">08:00 AM - 16:00 PM</p>
                </div>
            </div>
            <div class="contacts__details">
            <a class="contacts__number" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </li>
    </ul>
    </div>
    <div class="contacts__buttons">
    <button class="contacts__button-locations" type="button">Our Locations
        <svg class="contacts__button-icon1">
            <use href="/images/about-sprite-omg.svg#icon-2-white"></use>
        </svg>
    </button>
    <button class="contacts__button-franchise" type="button">Franchise
        <svg class="contacts__button-icon2">
            <use href="/images/about-sprite-omg.svg#icon-2"></use>
        </svg>
    </button>
    </div>
</section>