<section class="contacts">
    <div class="contacts__content">
        <h2 class="hidden-contacts-header">Contacts</h2>
    <ul class="contacts__list">
        <li class="contacts__item">
            <p class="contacts__headline">CAFE</p>
            <div class="contacts__information">
                <h4 class="contacts__location">Chicago</h4>
                <p class="contacts__descriptions">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class="contacts__information">
                <div class="contacts__open">
                <h4 class="contacts__days">Monday - Friday</h4>
                <p class="contacts__hours">06:00 AM - 10:00 PM</p>
                </div>
                <div class="contacts__open">
                <h4 class="contacts__days">Saturday - Sunday</h4>
                <p class="contacts__hours">08:00 AM - 16:00 PM</p>
                </div>
            </div>
            <div class="contacts__details">
            <a class="contacts__number" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </li>
        <li class="contacts__item">
            <p class="contacts__headline contacts__headline-foodtruck">FOOD TRUCK</p>
            <div class="contacts__information">
                <h4 class="contacts__location">Los Angeles</h4>
                <p class="contacts__descriptions">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class="contacts__information">
                <div class="contacts__open">
                <h4 class="contacts__days">Monday - Friday</h4>
                <p class="contacts__hours">06:00 AM - 10:00 PM</p>
                </div>
                <div class="contacts__open">
                <h4 class="contacts__days">Saturday - Sunday</h4>
                <p class="contacts__hours">08:00 AM - 16:00 PM</p>
                </div>
            </div>
            <div class="contacts__details">
            <a class="contacts__number" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </li>
        <li class="contacts__item">
            <p class="contacts__headline">CAFE</p>
            <div class="contacts__information">
                <h4 class="contacts__location">New York</h4>
                <p class="contacts__descriptions">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class="contacts__information">
                <div class="contacts__open">
                <h4 class="contacts__days">Monday - Friday</h4>
                <p class="contacts__hours">06:00 AM - 10:00 PM</p>
                </div>
                <div class="contacts__open">
                <h4 class="contacts__days">Saturday - Sunday</h4>
                <p class="contacts__hours">08:00 AM - 16:00 PM</p>
                </div>
            </div>
            <div class="contacts__details">
            <a class="contacts__number" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </li>
    </ul>
    </div>
    <div class="contacts__buttons">
    <button class="contacts__button-locations" type="button" data-modal-contacts-open>Our Locations
        <svg class="contacts__button-icon1">
            <use href="/images/about-sprite-omg.svg#icon-2-white"></use>
        </svg>
    </button>
    <button class="contacts__button-franchise" type="button">Franchise
        <svg class="contacts__button-icon2">
            <use href="/images/about-sprite-omg.svg#icon-2"></use>
        </svg>
    </button>
    </div>
        <div class="container-modal-contacts">
      <div class="backdrop-contacts is-hidden-contacts" data-modal-contacts>
        <div class="modal-contacts">
          <div class="locations">
            <ul class="locations__list">
              <li class="locations__item"><a class="locations__link" href="#chicago">Chicago</a></li>
              <li class="locations__item"><a class="locations__link" href="#losangeles">Los Angeles</a></li>
              <li class="locations__item"><a class="locations__link" href="#newyork">New York</a></li>
            </ul>
          </div>
            <svg class="close-modal-contacts" data-modal-contacts-close>
                <use href="./images/about-sprite-omg.svg#icon-ice-cream"></use>
            </svg>
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe id="chicago" width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=chicago&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          <iframe id="losangeles" width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=los&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          <iframe id="newyork" width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=nyc&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>