<section class="reviews">
    <div class="reviews-container">
        <img class="reviews-testimonial" 
            src=""
            alt="young woman"
            />
        <div class="review">
            <svg class="quotes-icon">
                <use href="">
                </use>
            </svg>
            <p class="review__txt">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. 
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
            Lorem ipsum primis in nibh vel risus.
            </p>
        </div> 
        <ul class="circles">
            <li class="circle">&#128308</li>
            <li class="circle">&#128308</li>
            <li class="circle">&#128308</li>
        </ul>
        <h4 class="customer">
            Emily, Los Angeles
        </h4>
        <ul class="navigation">
            <li class="navigation__item--dot">&#128308</li>
            <li class="navigation__item--dot">&#128308</li>
            <li class="navigation__item--dot">&#128308</li>
        </ul>
    </div>
</section>
