<section class="reviews">
    <div class="reviews__container carousel">
        <div class="carousel__item carousel__item--selected">
            <img class="reviews__testimonial" 
                src="images/1_emily.jpg"
                alt="young woman"
                />
            <div class="review">    
                <p class="review__txt">
                    To, co jeden programista może zrobić w miesiąc, dwóch programistów zrobi w dwa miesiące. "Paulo Coelho"
                </p>
            </div> 
            <ul class="reviews-pause">
                <li class="reviews-pause__item">&#128308</li>
                <li class="reviews-pause__item">&#128308</li>
                <li class="reviews-pause__item">&#128308</li>
            </ul>
            <h4 class="customer">
                Emily, Los Angeles
            </h4>
        </div>

        <div class="carousel__item">
            <img class="reviews__testimonial" 
                src="images/2_kate.jpg"
                alt="young woman"
                />
            <div class="review">    
                <p class="review__txt">
                    A teraz prędko, zanim dotrze do nas, że to bez sensu! "Król Julian"
                </p>
            </div> 
            <ul class="reviews-pause">
                <li class="reviews-pause__item">&#128308</li>
                <li class="reviews-pause__item">&#128308</li>
                <li class="reviews-pause__item">&#128308</li>
            </ul>
            <h4 class="customer">
                Kate, Las Vegas
            </h4>
        </div>

        <div class="carousel__item">
            <img class="reviews__testimonial" 
                src="images/3_alex.jpg"
                alt="young woman"
                />
            <div class="review">    
                <p class="review__txt">
                    Lepiej jest przeżyć rok życiem tygrysa niż 20 lat życiem żółwia. "Tytus Bomba"
                </p>
            </div> 
            <ul class="reviews-pause">
                <li class="reviews-pause__item">&#128308</li>
                <li class="reviews-pause__item">&#128308</li>
                <li class="reviews-pause__item">&#128308</li>
            </ul>
            <h4 class="customer">
                Alex, New York
            </h4>
        </div>
    </div>
</section>