<section class="reviews">
    <div class="reviews-container">
        <img class="reviews-testimonial" 
            src="images/1_emily.jpg"
            alt="young woman"
            />
        <div class="review">    
            <p class="review__txt review-p">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. 
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
            Lorem ipsum primis in nibh vel risus.
            </p>
        </div> 
        <ul class="circles review-list">
            <li class="circle">&#128308</li>
            <li class="circle">&#128308</li>
            <li class="circle">&#128308</li>
        </ul>
        <h4 class="customer">
            Emily, Los Angeles
        </h4>
        <ul class="navigation review-list">
            <li class="navigation__item"></li>
            <li class="navigation__item--dot"></li>
            <li class="navigation__item--dot"></li>
        </ul>
    </div>
</section>
