<h1 class="test"></h1>
<footer class="footer-background">
  <div class="test-box container">
    <div class="container-footer">
      <div class="main__logo-txt">
        <p class="main__logo--above-text">homemade ice cream made</p>
        <h1 class="main__logo--text">with passion</h1>
      </div>

      <div class="footer__contacts">
        <ul class="footer__contacts--list">
          <li class="footer__contacts--item">
            <a href="https://github.com/" target="_blank" class="footer__contacts--icon"
              ><svg class="icon" width="34" height="34">
                <use href="/images/sprite2.svg#icon-Ellipse"></use></svg
            ></a>
          </li>
          <li class="footer__contacts--item">
            <a href="https://web.telegram.org/" target="_blank" class="footer__contacts--icon"
              ><svg class="icon" width="38" height="38">
                <use href="/images/sprite2.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="footer__contacts--item">
            <a href="https://www.facebook.com/" target="_blank" class="footer__contacts--icon"
              ><svg class="icon" width="46" height="46">
                <use href="/images/sprite2.svg#icon-facebook"></use></svg
            ></a>
          </li>
        </ul>
        <p class="footer__contacts--text">
          Feel free to contact
          <a href="tel:++610383766284" class="footer__contacts--tel">+61 (0) 383 766 284</a>
        </p>
      </div>
    </div>
  </div>
  <div class="footer--license">
    <p>© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
