<div class="container-main">
  <div class="container-header">
    <!-- Nawigation -->
    <div class="container-nav">
      <picture>
        <source srcset="./images/logo@1x.png x1, ./images/logo@2x.png x2" />
        <img src="./images/logo@1x.png" alt="icecream logo" />
      </picture>
      <div class="menu-btn">
        <div class="menu-btn__burger"></div>
      </div>
    </div>

    <!-- Hero -->
    <section class="header">
   <h1 class="header__title">ice cream made with <span class="header__title header__title--mod">passion</span></h1>
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="./images/icecream_headermob@1x.png 1x, ./images/icecream_headermob@2x.png 2x"
      />
      <img class="ice-header" src="./images/icecream_headermob@1x.png" alt="big juicy icecream" />
    </picture>
    <img class="ellipse" src="../src/images/ellipse.png" alt="ellipse" />
  </div>
</div>
</section>