<div class="container-main">
  <div class="container-header">
    
    <!-- Nawigation -->
    <div class="container-nav">
        <img src="./images/logo@1x.png" alt="icecream logo" />
      <div class="menu-btn">
        <div class="menu-btn__burger"></div>
      </div>
      <button>Buy now ></button>
    </div>

    <!-- Hero -->
    <section class="header">
   <h1 class="header__title">ice cream made with <span class="header__title header__title--mod">passion</span></h1>
    <picture>
      <source media="(max-width: 767px)"srcset="./images/icecream_headermob@1x.png 1x, ./images/icecream_headermob@2x.png 2x"/>
      <source media="(min-width: 768px)"srcset="./images/icecream_headertab@1x.png 1x, ./images/icecream_headertab@2x.png 2x"/>
      <img class="ice-header" src="./images/icecream_headermob@1x.png" alt="big juicy icecream" />
    </picture>
    <picture>
      <source media="(max-width: 767px)"srcset="../src/images/ellipse.png"/>
      <source media="(min-width: 768px)"srcset="../src/images/ellipsetab.png"/>
    <img class="ellipse" src="../src/images/ellipse.png" alt="ellipse" />
    </picture>
    <ul class="header__list">
      <li class="header__item"><button class="header__product-btn">Products</button></li>
      <li class="header__item"><button class="header__how-btn">How its's made?</button></li>
    </ul>
    
  </div>
</div>
</section>
