<div class="container-bg">
  <div class="container-setup">
    <div class="container-header">
      <!-- Nawigation -->
      <div id="home"></div>
      <div class="container-nav">
        <img src="./images/logo@1x.png" alt="icecream logo" />

        <div class="nav">
          <ul class="nav__list-desk">
            <li class="nav__link-desk"><a class="nav__anchor" href="#home">Home</a></li>
            <li class="nav__link-desk"><a class="nav__anchor" href="#gallery">About us</a></li>
            <li class="nav__link-desk">
              <a class="nav__anchor" href="#how-is-made">How it's made?</a>
            </li>
            <li class="nav__link-desk">
              <a class="nav__anchor" href="#our-products">Our products</a>
            </li>
            <li class="nav__link-desk"><a class="nav__anchor" href="#cont">Contact</a></li>
          </ul>

          <input type="checkbox" data-modal-open1 class="menu-btn" id="menu-btn" />
          <label data-modal-open1 for="menu-btn" class="menu-icon">
            <span class="menu-icon__line"></span>
          </label>

          <div data-modal1 class="nav__list test">
            <button class="nav__buy-btn">
              Buy now<svg class="about__icon-2">
                <use href="./images/about-sprite-omg.svg#icon-2"></use>
              </svg>
            </button>
            <ul class="nav__links">
              <li class="nav__link"><a class="nav__anchor" href="#home">Home</a></li>
              <li class="nav__link"><a class="nav__anchor" href="#gallery">About us</a></li>
              <li class="nav__link">
                <a class="nav__anchor" href="#how-is-made">How it's made?</a>
              </li>
              <li class="nav__link">
                <a class="nav__anchor" href="#our-products">Our products</a>
              </li>
              <li class="nav__link"><a class="nav__anchor" href="#cont">Contact</a></li>
            </ul>
          </div>
          <button class="nav__buy-btn nav__buy-btn--desk">
            Buy now<svg class="about__icon-2">
              <use href="./images/about-sprite-omg.svg#icon-2"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Hero -->

    <section class="header">
      <h2 class="header__title">
        ice cream made with <span class="header__title header__title--mod">passion</span>
      </h2>
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="./images/icecream_headermob@1x.png 1x, ./images/icecream_headermob@2x.png 2x"
        />
        <source
          media="(max-width:1199px)"
          srcset="./images/icecream_headertab@1x.png 1x, ./images/icecream_headertab@2x.png 2x"
        />
        <source
          media="(min-width: 1200px)"
          srcset="./images/icecream_headerdesk@1x.png 1x, ./images/icecream_headerdesk@2x.png 2x"
        />
        <img class="ice-header" src="./images/icecream_headermob@1x.png" alt="big juicy icecream" />
      </picture>
      <picture>
        <source media="(max-width: 767px)" srcset="../src/images/ellipse.png" />
        <source media="(min-width: 768px)" srcset="../src/images/ellipsetab.png" />
        <img class="ellipse" src="../src/images/ellipse.png" alt="ellipse" />
      </picture>
      <ul class="header__list">
        <li class="header__item">
          <div class="header__product-btn">
            <a class="header__link" href="#our-products">Products</a>
          </div>
        </li>
        <li class="header__item">
          <div class="header__how-btn">
            <a class="header__link header__link--light" href="#how-is-made">How it's made?</a>
          </div>
        </li>
      </ul>
      <picture>
        <source
          media="(max-width:1199px)"
          srcset="./images/girltab@1x.png 1x, ./images/girltab@2x.png 2x"
        />
        <source
          media="(min-width: 1200px)"
          srcset="./images/girldesk@1x.png 1x, ./images/girldesk@2x.png 2x"
        />
        <img class="header__girl" src="./images/girltab@1x.png" alt="Girl with small tits" />
      </picture>
      <picture>
        <source
          media="(max-width:1199px)"
          srcset="./images/milkjugtab@1x.png 1x, ./images/milkjugtab@2x.png 2x"
        />
        <source
          media="(min-width: 1200px)"
          srcset="./images/milkjugdesk@1x.png 1x, ./images/milkjugdesk@2x.png 2x"
        />
        <img class="header__milk" src="./images/milkjugtab@1x.png" alt="Jug of milk" />
      </picture>
      <picture>
        <source media="(max-width:1199px)" srcset="./images/16imgtab.png" />
        <source media="(min-width: 1200px )" srcset="./images/16imgdesk.png" />
        <img class="header__cafenr" src="./images/16imgtab.png" alt="number 16" />
      </picture>
      <picture>
        <source media="(max-width:1199px)" srcset="./images/23imgtab.png" />
        <source media="(min-width: 1200px)" srcset="./images/23imgdesk.png" />
        <img class="header__foodtracknr" src="./images/23imgtab.png" alt="number 23" />
      </picture>
      <span class="header__description"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et</span
      >
      <button class="header__arrow-btn">
        <img class="header__arrow" src="./images/arrow-right.png" alt="arrow" />
      </button>
    </section>
  </div>
</div>
