    <section class="products">
        <container class="products__container">
            <label class="products__label">100% natural</label>
            <h2 class="products__headline">products</h2>
            <ul class="products__list">
                <li class="products__item products__item--pink">
                    <figure class="products__figure">
                    </figure>
                    <h3 class="products__figcaption products__figcaption--cream">ice cream</h3>
                    <p class="products__description">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et</p>
                    <div class="products__more">
                        <button class="products__button">
                            <img alt src="images/arrow-right.png">
                        </button>
                    </div>        
                </li>
                <li class="products__item products__item--orange">
                    <figure class="products__figure">
                    </figure>
                    <h3 class="products__figcaption products__figcaption--cofee">ice cofee</h3>
                    <p class="products__description">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et</p>
                    <div class="products__more">
                        <button class="products__button">
                            <img alt src="images/arrow-right.png">
                        </button>
                    </div>
                </li>
                <li class="products__item products__item--green">
                    <figure class="products__figure">
                    </figure>
                    <h3 class="products__figcaption products__figcaption--milkshake">milkshakes</h3>
                    <p class="products__description">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et</p>
                    <div class="products__more">
                        <button class="products__button">
                            <img alt src="images/arrow-right.png">
                        </button>
                    </div>
                </li>
            </ul>
        </container>
    </section>
