.ice-header {
  position: absolute;
  top: 86px;
  right: 32px;
  z-index: 10;
}

// <!-- Tablet -->
@media (min-width: 768px){
  .ice-header{
    top: 63px;
    right: 0;
    margin-right: 247px;
  }
}
