.menu-btn {
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 20px;
height: 12px;
cursor: pointer;
transition:all .5s ease-in-out;

&__burger{
    width:20px;
    height: 2px;
    background: #D41443;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

&__burger::after,
&__burger::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #D41443;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

&__burger::before{
transform: translateY(-6px);
}

&__burger::after{
transform: translateY(6px);
}
}

/* Animation */
.menu-btn.open .menu-btn__burger {
    background:transparent;
    box-shadow:none;
}
.menu-btn.open .menu-btn__burger::before{
    transform: rotate(45deg) ;
}
.menu-btn.open .menu-btn__burger::after{
    transform: rotate(-45deg) ;
}